body{
    margin: 0 auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: -40px;
}
nav li{
    transition: transform 0.8s ease-in 0.03s;
    border-radius: 10px;
    font-size: 20px;
    border: solid black;
    border-width: 1px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    width: 600px;
    margin: 0 10px;
}
nav li:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.06);
}

h2{
    font-size: 1.6rem;
    color: rgb(90, 89, 89);
}
a{
    color: rgb(90, 89, 89);
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease-in 0.03s;
    font-weight: bold;
}

p{
    margin: 1rem 0.1rem;
}

.newPages:hover{
    transform: scale(1.5);    
    color: gold;
}