body{
    margin: 0 auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: -40px;
}
nav li{
    transition: transform 0.8s ease-in 0.03s;
    border-radius: 10px;
    font-size: 20px;
    border: solid black;
    width: 600px;
    margin: 0 10px;
}
nav li:hover{
    background-color: white;
    transform: scale(1.06);
}

h2{
    font-size: 1.6rem;
    
}
a{
    color: rgb(90, 89, 89);
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease-in 0.03s;
    font-weight: bold;
}

.newPages:hover{
    transform: scale(1.5);    
    color: gold;
}