body{
    text-align: center;
    background-color: rgb(120, 199, 223);
}

h1 {
    font-family: 'Lora';
    color:  rgb(200,200,200);
    padding-top: 115px;
    border: solid black;
    background-color: rgb(37, 37, 37);
    margin: 0 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

h2 {
    font-family: 'Lora';
    color: black;
}

p {
    font-family: 'Lora';
    color:  rgb(60, 60, 60);
    padding-top: 10px;
}

a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#todays-challenge{/*This is the id selector, it allows for specific 
    changes to only a specific element.*/
    font-size: 20px;
    color: black;
}

img{
    border: 5px solid white;
    border-radius: 50px;
    margin-bottom: -115px;
    width: 200px;
    height: 200px;
}

.weeklyGoal{
    color: black;
}

.weeklyLi{
    background-color: lightgrey;
}